.login {
  width: 100%;
  padding: 20px;
}

.buttonLogin {
  display: flex;
  width: 20%;
  height: 25px;
  color: white;
  background-color: red;
  border: 1px solid green;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.textBlock {
  width: 200px;
  color: #ee0045;
}
